.introduction, .navbar, footer {
  position: fixed;
}

.introduction.p {
  float: left;
}

.introduction.img {
  float: right;
  width: 200px;
  height: 200px;
}

.assignment {
  position: absolute;
}
